# FastAPI + Server
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.1

# Machine Learning
tensorflow==2.16.1
numpy==1.26.4
transformers==4.36.2
torch==2.2.0

# HTML Parsing
beautifulsoup4==4.12.3
lxml==5.1.0
